<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>Transakcija <strong>Izdavanje</strong></li>
        <li>Uknjizenost <strong>da</strong></li>
        <li>uk br soba <strong>Izdavanje</strong></li>
        <li>Spratnost <strong>3</strong></li>
        <li>Br spratova <strong>8</strong></li>
    </ul>
</body>
</html>